.floating-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.floating-circle:hover {
    background-color: #0056b3;
}